/* Original theme at https://github.com/stysebae/joplin-vsc-material-theme, modified for Catppuccin. */
/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */

:root {
	--ctp-mocha-rosewater: #f5e0dc;
	--ctp-mocha-flamingo: #f2cdcd;
	--ctp-mocha-pink: #f5c2e7;
	--ctp-mocha-mauve: #cba6f7;
	--ctp-mocha-red: #f38ba8;
	--ctp-mocha-maroon: #eba0ac;
	--ctp-mocha-peach: #fab387;
	--ctp-mocha-yellow: #f9e2af;
	--ctp-mocha-green: #a6e3a1;
	--ctp-mocha-teal: #94e2d5;
	--ctp-mocha-sky: #89dceb;
	--ctp-mocha-sapphire: #74c7ec;
	--ctp-mocha-blue: #87b0f9;
	--ctp-mocha-lavender: #b4befe;
	--ctp-mocha-text: #c6d0f5;
	--ctp-mocha-subtext1: #b3bcdf;
	--ctp-mocha-subtext0: #a1a8c9;
	--ctp-mocha-overlay2: #8e95b3;
	--ctp-mocha-overlay1: #7b819d;
	--ctp-mocha-overlay0: #696d86;
	--ctp-mocha-surface2: #565970;
	--ctp-mocha-surface1: #43465a;
	--ctp-mocha-surface0: #313244;
	--ctp-mocha-base: #1e1e2e;
	--ctp-mocha-mantle: #181825;
	--ctp-mocha-crust: #11111b;
	--font-face: "Work Sans", Arial, Helvetica, sans-serif;
	--font-mono: "FiraCode Nerd Font Mono", Courier, monospace;
	--font-size: 16px;
	--icon-size: 16px;

	--regular: 400;
	--bolder: 600;

	--scroll-radius: 3px;

	--opacity-0-8: 0.8;
}

/* Font used by Joplin */
* {
  font-family: var(--font-face) !important;
}

html, body {
  background-color: var(--ctp-mocha-base) !important;
  font-size: var(--font-size) !important;
  font-weight: var(--regular) !important;
  color: var(--light) !important;
}
.CodeMirror-selected {
    /* background-color: var(--lighter-grey) !important; */
    background: #6B6B6B !important;
}
.rli-root {
  background-color: var(--ctp-mocha-base) !important;
}

/* Icons */
.fa, .far, .fas {
  font-weight: 900 !important;
  font-family: "Font Awesome 6 Free" !important;
  font-size: var(--icon-size) !important;
}

::placeholder {
  color: var(--ctp-mocha-blue) !important;
}

/* Scrollbars */
::-webkit-scrollbar-thumb {
  background-color: var(--ctp-mocha-surface0) !important;
  border-radius: var(--scroll-radius) !important;
}

/*********************************************************************************
* PANELS
*********************************************************************************/

/* General panel style */
.resizableLayoutItem > div {
  background-color: var(--ctp-mocha-base) !important;
}

/*********************************************************************************
* SIDEBAR
*********************************************************************************/

.sidebar {
  background-color: var(--ctp-mocha-crust) !important;
  text-transform: uppercase;
  font-weight: var(--bolder);
}

/* Hide "All notes" icon
 * Comment this next block if you want the "All notes" icon */
i.icon-notes {
  display: none !important;
}

/* FOLDERS */

/* "Add new notebook" button */
.sidebar > div > div > button span {
  color: var(--ctp-mocha-blue) !important;
}

.sidebar > div > div > button:hover {
  opacity: var(--opacity-0-8);
}
.folders .list-item-container {
    background-color: var(--ctp-mocha-crust) !important;
}
.folders .list-item-container:hover {
  background-color: var(--ctp-mocha-overlay0) !important;
}

.folders .list-item-container a {
  text-transform: initial;
  color: var(--ctp-mocha-text) !important;
  font-weight: var(--regular);
}

.folders .list-item-container a:focus {
  color: var(--ctp-mocha-text) !important;
  background-color: var(--ctp-mocha-base) !important;
}

.folders .list-item-container a:hover {
  color: var(--ctp-mocha-text) !important;
}

/* TAGS */
.tags .list-item-container {
    display: inline-block;
    line-height: 0 !important;
    padding: 0 !important;
    height: auto !important;
    background-color: var(--ctp-mocha-crust) !important;
}
.tags .list-item-container:hover {
  display: inline-block;
  line-height: 0 !important;
  padding: 0 !important;
  height: auto !important;
  background-color: var(--ctp-mocha-overlay0) !important;
}

.tags .list-item-container a {
  padding-left: 12px !important;
  text-transform: initial;
  color: var(--ctp-mocha-text) !important;
  font-weight: var(--regular);
}

.tags .list-item-container a:focus {
  color: var(--ctp-mocha-text) !important;
  background-color: var(--ctp-mocha-base) !important;
}

.tags .list-item-container a:hover {
  color: var(--ctp-mocha-text) !important;
  background-color: var(--ctp-mocha-overlay0) !important;
}

/* SYNCHRONIZATION */

.sidebar > div:last-of-type {
  background-color: none !important;
}

.sidebar > div:last-of-type > button {
  background-color: var(--ctp-mocha-blue) !important;
  border: 0px !important;
  text-transform: uppercase;
  font-size: var(--font-size) !important;
}

.sidebar > div:last-of-type > button:hover {
  opacity: var(--opacity-0-8);
}

.sidebar > div:last-of-type > button > span {
  color: var(--ctp-mocha-crust) !important;
}

/*********************************************************************************
*NOTE LIST
*********************************************************************************/

.note-list {
  background-color: var(--ctp-mocha-mantle) !important;
  border: none !important;
}

/* Empty notelist */
.cLdGCO, .cLdGCO > div {
  background-color: var(--ctp-mocha-mantle) !important;
}

/* Remove border - introduced in 1.3.7 */
.rli-noteList div {
  border: none !important;
}

/* BUTTONS SEARCH, SORT NOTES, NEW NOTE AND NEW TASK */

div[height="50"] {
  background-color: var(--ctp-mocha-mantle) !important;
}

div[height="50"] input {
  border: none !important;
  color: var(--ctp-mocha-text) !important;
  background-color: var(--ctp-mocha-mantle) !important;
}

div[height="50"] button {
  background: transparent !important;
  color: var(--ctp-mocha-text) !important;
  border: 0 !important;
}

div[height="50"] button:hover {
  opacity: var(--opacity-0-8);
}

div[height="50"] button span {
  color: var(--ctp-mocha-text) !important;
}

.sc-hCPjZK.fJjcQe {
  background-color: var(--ctp-mocha-mantle) !important;
}
.new-note-todo-buttons > button {
  background-color: var(--ctp-mocha-blue) !important;
  border: none !important;
}
.new-todo-button > span {
  color: var(--ctp-mocha-crust) !important;
}

.search-bar {
  background-color: var(--ctp-mocha-crust) !important;
}

.icon-search {
  color: var(--ctp-mocha-blue) !important;
}

.sort-order-reverse-button {
  background-color: var(--ctp-mocha-crust) !important;
}
.sort-order-reverse-button {
  background-color: var(--ctp-mocha-crust) !important;
}

.fa-calendar-alt {
  color: var(--ctp-mocha-blue) !important;
}
.fa-long-arrow-alt-up {
  color: var(--ctp-mocha-blue) !important;
}
/* LIST OF NOTES */

.note-list .list-item-container {
  background-color: var(--ctp-mocha-mantle) !important;
}

.note-list .list-item-container:hover {
  background-color: var(--ctp-mocha-overlay1) !important;
}

.item-list.note-list .list-item-container::before {
  border: none !important;
}

.note-list .list-item-container a {
  text-transform: initial;
  color: var(--ctp-mocha-text) !important;
  font-weight: var(--regular);
}

.note-list .list-item-container a:focus {
  color: var(--ctp-mocha-text) !important;
  background-color: var(--ctp-mocha-base) !important;
}

.note-list .list-item-container a:hover {
  color: var(--ctp-mocha-text) !important;
}

/* Add "..." to notes with long titles */
.item-list.note-list .list-item-container > a > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*********************************************************************************
* EDITOR
*********************************************************************************/

/* EDITOR TOOLBAR */

/* Title */
/* Changes frequently with updates, need to keep tabs */
.rli-editor .cCOtNv > input {
	padding-top: 5px;
	background-color: var(--ctp-mocha-base) !important;
}

.title-input {
  background-color: var(--ctp-mocha-base) !important;
  color: var(--ctp-mocha-text) !important;
}
.editor-toolbar {
  background-color: transparent !important;
}

.editor-toolbar > div > a:hover {
  opacity: var(--opacity-0-8);
}

/* Hide "Spell checker" button */
.editor-toolbar a[title="Spell checker"] {
 display: none !important;
}

/* Hide "Markdown/Richtext editor" Button */
.tox-toolbar {
display: none !important;
}

/* Hide the Toggle editors button */
.editor-toolbar button[title="Toggle editors"] {
  display: none !important;
}
/* Breadcrumbs (In:...) - Used in tag listings */
.cJOYJm {
  background-color: var(--ctp-mocha-blue) !important;
  margin: 0px !important;
  padding: 5px !important;
  font-size: var(--font-size) !important;
}

.cJOYJm:hover {
  opacity: var(--opacity-0-8);
}

/* CONTENT */
/* Empty notebook */
.rli-editor > div > div:empty {
  background-color: var(--ctp-mocha-base) !important;
}

/* Editor layout splitter */
.rli-editor > div > div > div > div > div > div > div:last-of-type {
  border-color: var(--ctp-mocha-base) !important;
}

div.sc-AxirZ.hagDvo, div.sc-AxirZ.hagDvo > div {
  background-color: var(--ctp-mocha-mantle) !important;
  color: var(--ctp-mocha-text) !important;
}

/* NOTE SEARCH BAR */
.note-search-bar, .note-search-bar > div > div {
  background-color: var(--ctp-mocha-base) !important;
  width: 100%;
  border: 0 !important;
}

.note-search-bar input {
  border: 0 !important;
  padding: 5px;
  color: var(--ctp-mocha-text) !important;
  background-color: var(--ctp-mocha-base) !important;
}

/* TAGS */
.tag-bar {
  background-color: transparent !important;
}

.tag-list > span {
  color: var(--ctp-mocha-blue) !important;
  background-color: var(--ctp-mocha-crust) !important;
}

/* Hide "Click to add tags..."*/
a[Title="Tags"] + div > span {
  display: none !important;
}

/*********************************************************************************
* EDITOR (CODE MIRROR)
*********************************************************************************/

.cm-s-material-darker.CodeMirror {
  background-color: var(--ctp-mocha-base) !important;
  color: var(--ctp-mocha-text) !important;
}

/* Header */
.cm-header {
  color: var(--ctp-mocha-blue) !important;
}

/* Italics/Emphasis, Bold, BoldItalics */
.cm-em, .cm-strong, .cm-strong.cm-em {
  color: var(--ctp-mocha-text) !important;
}

/* Lists (Bullet/number/todo) */
.cm-variable-2, .cm-variable-3, .cm-keyword {
  color: var(--ctp-mocha-text) !important;
}

.cm-s-material-darker .cm-variable-2.cm-rm-list-token {
	color: var(--ctp-mocha-text) !important;
}

/* Links (link) */
.cm-url {
  color: var(--ctp-mocha-rosewater) !important;
  opacity: 1;
  text-decoration: underline;
}

/* Links (text) */
.cm-link-text {
  color: var(--ctp-mocha-rosewater) !important;
}
pre.CodeMirror-line {
    color: var(--ctp-mocha-text) !important;
    background-color: none !important;
}
/* Image links in the editor */
span.cm-string.cm-url.cm-overlay.cm-rm-link.cm-overlay.cm-rm-image {
  color: var(--ctp-mocha-blue) !important;
}
/* Comment outside code block */
pre.CodeMirror-line span.cm-comment {
	color: var(--ctp-mocha-overlay1) !important;
  background-color: none !important;
  border: 0 !important;
}

/* Codeblock selection colour */
/* For some reason, the CodeMirror selection does not pick the colour correctly, left for now. */
pre.CodeMirror-line span.CodeMirror-selectedtext {
	/* background: var(--ctp-mocha-surface2) !important; */
	background: #6B6B6B !important;
}

div[class^="cm-jn-code-block-background "]::selection {
  background-color: var(--ctp-mocha-base) !important;
  border-color: var(--ctp-mocha-base) !important;
}

pre.cm-jn-code-block.CodeMirror-line span.cm-comment.cm-jn-monospace.CodeMirror-selectedtext {
	/* background: var(--ctp-mocha-surface2) !important; */
	background: #6B6B6B !important;
}
pre.cm-jn-code-block.CodeMirror-line::selection {
	/* background: var(--ctp-mocha-surface2) !important; */
	background: #6B6B6B !important;
}
div.cm-jn-code-block-background.CodeMirror-linebackground::selection {
	/* background: var(--ctp-mocha-surface2) !important; */
	background: #6B6B6B !important;
}
pre.cm-jn-code-block.CodeMirror-line::selection span {
	/* background: var(--ctp-mocha-surface2) !important; */
	background: #6B6B6B !important;
}

div.CodeMirror span.cm-comment.cm-jn-inline-code {
	background-color: transparent !important;
	padding-right: 0 !important;
  padding-left: 0 !important;
}

/* Code Block Text */
div.CodeMirror span.cm-comment:not(.cm-jn-inline-code) {
  color: var(--ctp-mocha-text) !important;
  background-color: transparent !important;
}

/* Code block background */
div.CodeMirror div.cm-jn-code-block-background {
    background-color: var(--ctp-mocha-mantle) !important;
}

/* Horizontal Line */
.cm-hr {
  color: var(--ctp-mocha-overlay0) !important;
}

/* Cursor colour */
.CodeMirror-cursor {
    border-left: 1px solid var(--ctp-mocha-rosewater) !important;
    border-right: none !important;
    width: 0 !important;
}
.cm-fat-cursor div.CodeMirror-cursor {
    width: 10px !important;
    border: 0 !important;
    background: var(--ctp-mocha-rosewater) !important;
}
.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1 !important;
}
.cm-fat-cursor-mark {
    background-color: rgba(150, 205, 251, 0.5) !important;
}

.cm-animate-fat-cursor {
    width: auto !important;
    border: 0;
    background-color: var(--ctp-mocha-rosewater) !important;
}

/* Rich Markdown Extra CSS Classes
Please opt in "Add additional CSS classes for enhanced customization" in plugin
settings, see https://github.com/CalebJohn/joplin-rich-markdown#extra-css */

.cm-header.cm-rm-header-token {
  color: var(--ctp-mocha-green) !important;
}

.cm-strong.cm-rm-strong-token {
  color: var(--ctp-mocha-lavender) !important;
}

pre.cm-rm-blockquote.CodeMirror-line {
  font-style: italic !important;
}

/* Command palette coloring */

div.modal-dialog {
  background-color: var(--ctp-mocha-mantle) !important;
}

.modal-dialog > div > input {
  background-color: var(--ctp-mocha-crust) !important;
  color: var(--ctp-mocha-text) !important;
}

.modal-dialog > .item-list {
  background-color: var(--ctp-mocha-crust) !important;
  color: var(--ctp-mocha-text) !important;

}

.modal-dialog > .item-list div[class="selected"] {
  background-color: var(--ctp-mocha-surface2) !important;
}

.modal-dialog > .item-list div[class="selected"] > div {
  color: var(--ctp-mocha-text) !important;
}

.modal-dialog > .item-list > * {
  color: var(--ctp-mocha-text) !important;
}
