name: Flake ❄️ Checker ✅

on:
  schedule:
    # l33t o'clock
    - cron: '37 13 * * *'
  workflow_dispatch:

jobs:
  flake-checker:
    name: Flake Checker
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@main
      - uses: DeterminateSystems/flakehub-cache-action@v1
      - uses: DeterminateSystems/flake-checker-action@v9
